/* Arquivo style.css*/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f4f8;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #082aec;
    padding: 10px;
}

header h1 {
    color: #ffffff;
    font-size: 32px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 10px;
}

header nav ul li a {
    color: #f3f5ff;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

main h2 {
    color: #07110c;
    font-size: 24px;
    margin: 10px;
}

main p {
    color: #0b0c13;
    font-size: 16px;
    margin: 10px;
}

#products {
    display: flex;
    justify-content: space-around;
}

.product {
    width: 300px;
    border: 1px solid #879fe0;
    margin: 10px;
}

.product img {
    width: 100%;
    color: #ecf0f7;
}

.product h3 {
    color: #340beb;
    font-size: 18px;
    margin: 10px;
}

.product p {
    color: #0a7eac;
    font-size: 14px;
    margin: 10px;
}

.product a {
    display: block;
    color: #e2dcee;
    background-color: #e4e3e9;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

footer {
    background-color: #161515;
    padding: 10px;
}

footer p {
    color: #140d0d;
    font-size: 14px;
    text-align: center;
}